$roboto-font: 'Roboto', sans-serif; 

//breakpoints   
$bp-mobile:375px;
$bp-tablet:768px;
$bp-tablet-horizontal:1024px; 
$bp-desktop:1200px;
$bp-desktop-xl:1440px;

//colors
$color-background:#151515;
$color-secondary:#4EE1A0;
$color-background-footer:#242424;
$color-text:#d9d9d9;
$color-headers:#ffffff;

//Fonts
$font-primary: "Space Grotesk", sans-serif;;

